//Mixin
$breakpoint-extra-small: 480px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

@mixin responsive($max-screen-size){
    @media screen and (max-width: $max-screen-size){
        @content;
    }
}

/* General Styles */
$color1: #333;
$color2: #ff7e5f;
$color3: white;
$font1:Arial, sans-serif;
$shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$padding20: 20px; 


body {
    font-family: $font1;
    color: $color1;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 32px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: $shadow;
    margin-bottom: 10px;

    .logo {
        font-size: 24px;
        font-weight: bold;
        color: $color2;
    }
    .nav-links {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 10px;
            
        }
        a {
            text-decoration: none;
            font-weight: bold;
            &:hover{
                color: $color2;
            }
        }
    }
}

/* Primary Button */
.primary-btn {
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: $color3;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    &:hover{
        box-shadow: 0px 5px 15px rgba(255, 126, 95, 0.4);
    }
}
/* Main Section */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px;

    .content {
        width: 50%;
    }
    h1 {
        font-size: 48px;
        color: $color2;
    }
    p {
        font-size: 18px;
    }
    img {
        width: 40%;
    }
}
/* Features & Plans Sections */
.features {
    background: #f3f3f3;
}
.center-section {
    text-align: center;
    padding: 50px 10px;
}
.card-list {
    display: flex;
    justify-content: space-between;
}
.card {
    background: $color3;
    padding: $padding20;
    width: 27%;
    border-radius: 10px;
    box-shadow: $shadow;
}

/* Footer */
.footer {
    text-align: center;
    padding: $padding20;
    background: #222;
    color: $color3;
}

/* Responsive */
@include responsive($breakpoint-medium){
    .card-list {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .card {
        width: 80%;
    }
}
@include responsive($breakpoint-small){
    .main{
        flex-direction: column;
        text-align: center;

        .content{
            width: 100%;
        }
        img {
            width: 100%;
            margin-top: 20px;
        }
    }
}
@include responsive($breakpoint-extra-small){
    .navbar{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;

        .logo{
            margin-bottom: 10px;
        }

        .nav-links{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 0;
            margin: 0;

            li{
                display: block;
                margin:0;
            }
        }
        .primary-btn{
            margin-top: 10px;
        }
    }
    .main{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 10px;

        .content{
            width: 100%;
        }
        img{
            width: 80%;
            margin-top: 20px;
        }
    }
}

